/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
#row1, #row2, #row3 {
  display: flex;
}

div {
  border: 1px solid black;
  height: 60px;
  width: 60px;

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
